@page "/projects/{ProjectId}"
@using Domain

@if (SelectedProject != null)
{
    <MudText Class="pb-4" Typo="Typo.h4">Project '@SelectedProject.Name'</MudText>

    <MudText>*Insert some more detailed info for this project and stats. eg. CompletedTasks/TotalTasks, etc. *</MudText>

    <EditForm Model="@_newProjectTask" OnValidSubmit="HandleCreateTask" disabled="@_isCreating">
        <DataAnnotationsValidator/>
        <MudSimpleTable Dense="true" Hover="false">
            <tbody>
            <tr>
                <td>
                    <MudTextField Label="Title" Typo="Typo.input" Variant="Variant.Outlined" ShrinkLabel="true" Margin="Margin.Dense" @bind-Value="@_newProjectTask.Title" For="() => _newProjectTask.Title"/>
                </td>
                <td>
                    <MudIconButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Filled.Add"/>
                </td>
            </tr>
            </tbody>
        </MudSimpleTable>
    </EditForm>

    <MudTable T="ProjectTask" Items="@_tasks" Dense="false" Hover="true" Loading="@_isLoading" OnRowClick="HandleTaskClick" Class="mt-4">
        <ColGroup>
            <col style="width: 60px;"/>
            <col/>
            <col style="width: 60px;">
        </ColGroup>
        <RowTemplate>
            <MudTd>
                <MudCheckBox Size="Size.Medium" @bind-Value="@context.IsComplete" @onclick="() => OnCompleteChanged(context)"/>
            </MudTd>
            <MudTd Class="">@context.Title</MudTd>
            <MudTd Class="d-flex justify-end">
                <MudIconButton Size="Size.Small" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" OnClick="() => OnDeleteTask(context)"/>
            </MudTd>
        </RowTemplate>
    </MudTable>
}