@page "/projects"
@using Domain

<MudText Class="pb-4" Typo="Typo.h4">Projects</MudText>

<EditForm Model="@_newProject" OnValidSubmit="HandleCreateProject" disabled="@_isCreating">
    <DataAnnotationsValidator/>
    <MudSimpleTable Dense="true" Hover="false">
        <tbody>
        <tr>
            <td>
                <MudTextField Label="Title" Typo="Typo.input" Variant="Variant.Outlined" ShrinkLabel="true" Margin="Margin.Dense" @bind-Value="@_newProject.Name" For="() => _newProject.Name"/>
            </td>
            <td>
                <MudTextField Label="Description" Typo="Typo.input" Variant="Variant.Outlined" ShrinkLabel="true" Margin="Margin.Dense" @bind-Value="@_newProject.Description" For="() => _newProject.Description"/>
            </td>
            <td>
                <MudIconButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Filled.Add"/>
            </td>
        </tr>
        </tbody>
    </MudSimpleTable>
</EditForm>

<MudTable T="Project" Items="@_projects" Dense="false" Hover="true" Loading="@_isLoading" OnRowClick="HandleProjectClick" Class="mt-4">
    <RowTemplate>
        <MudTd Class="">@context.Name</MudTd>
        <MudTd Class="">@context.Description</MudTd>
        <MudTd Class="d-flex justify-end">
            <MudIconButton Size="Size.Small" Color="Color.Error" Icon="@Icons.Material.Filled.Delete"/>
        </MudTd>
    </RowTemplate>
</MudTable>